*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    /* border: 1px dotted blue; */
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

/* -------------------header------------------------ */
body{
    width: 100%;
}

.logo_header{
    background-color: #FAE5D1;
    text-align: center;
}

.logo{
    height: 7em;
    border-radius: 0.5em;
    margin: 0.6em auto 0.4em auto;
}

.nav_header{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.nav_header li{
    background-color: #1E1E1E;
    border-radius: 0 0 0.5em 0.5em;
    color: #FAE5D1;
    padding: 1.2rem ;
    font-size: 1em;
    font-weight: bold;
    list-style-type: none;
            box-shadow: 3px 1px 10px -0 #a07360;

}
/* -------------------main------------------------ */
main{
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
    padding: 6rem 3rem 4rem 3rem;
    width: 100%;
    gap: 13%;
}

.card{
    background-color: #FAE5D1;
    border: 0.1rem dashed #a07360;
    border-radius: 28px;
    padding: 2rem;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 400px; /* Équivaut à : flex-grow: 1;
                                    flex-shrink: 1;
                                    flex-basis: 300px;*/
    max-width: 450px;
    gap: 1.2rem;
    color: #1E1E1E;
    margin-bottom: 5rem;
    box-shadow: 5px 3px 15px -1px #AC7961;
}

h2{
    font-weight: 600;
    font-size: 1.3em;
    text-align: center;
}

h2 span{
    font-weight: normal;
    font-size: 0.6em;
    margin-left: 1em;
}

.product_img img{
    border-radius: 15px;
    width: 100%;
}

.product_p{
    font-size: 0.9rem;
    font-weight: normal;
    font-style: italic;
    margin: 1rem;
    text-align: start;
}

.product_note{
    text-align: start;
    color: #AC7961;
    font-size: 1.4em;
    padding-left: 01em;
}

.price{
    background-color: #1E1E1E;
    color: #FAE5D1;
    border-radius: 5em;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 1.1em;
    padding: 0.8em 1em;
    font-size: smaller;
}

.price i{
    font-size: 2em;
}

.price_crossed{
    text-decoration:line-through;
    font-size:1.3em;
}

.price_new{
    font-size: 1.8em;
    margin: 0.4em;
}

/* -------------------footer------------------------ */
footer{
    background-color: #AC7961;
    color: #1E1E1E;
    font-size: 1em;
    position: relative;
    padding: 5rem 8rem 1.5rem 8em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_footer{
    display: flex;
    justify-content: space-between;
    text-align: start;
    margin: auto 2rem;
}

.logo_footer{
    position: absolute; 
    top: -2.7rem;
    align-self: center;
}

h4{
    font-size: 1.4em;
    font-weight: bold;
}

.nav_footer{
    padding: 0.1em 0;
}

.nav_footer li{
    margin: 0.7em 0;
    font-size: 0.9em;
    list-style-type: none;
    text-align: start;
    line-height: 1.2em;
}

.networks{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 0.5em 0 2.4em 0;
    font-size: 2em;
    /* width: 90%; */
}

.copy_r{
    font-size: 0.7em;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    nav{
        padding: 0 10%;
    }

    .nav_header{
        flex-direction: column;
        padding: .8rem ;
        background-color: #1E1E1E;
        border-radius: 0 0 28px 28px;
        box-shadow: 5px 3px 15px -1px #AC7961;
    }

    .nav_header li{
        border-radius: 0;
        text-align: center;
        padding: 0.5rem ;
        box-shadow: none;
    }

    main{
        flex-direction: column; 
        align-items: center;
        padding: 5rem 0 2.1rem 0 ;
    }

    .card{
        width: 75%;
        gap: 1rem;
        margin-bottom: 5rem;
    }

    .price{
        gap: 1em;
    }
        
    .price_crossed{
        font-size:1.1em;
    }
    
    .price_new{
        font-size: 1.7em;
        margin: 0.25em;
    }

    footer{
        padding: 8rem 2rem 2rem 2em;
    }

    .container_footer{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .container1, .container2{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav_footer{
        padding: 1em 0;
    }

    .nav_footer li{
        margin: 0.7em 0;
        font-size: 1em;
        font-weight: 300;
        list-style-type: none;
        line-height: 1.3em;
        text-align: center;
    }

    .networks{
        padding: 1em 0 ;
    }
}

@media screen and (769px <= width <= 1024px){
    main{
        padding: 6rem 1.5rem 4rem 1.5rem;
        width: 100%;
        gap: 2%;
    }
    
    .card{
        padding: 1.5rem;
        width: 17%;
        max-width: 330px;
        gap: 1rem;
    }
    
    h2{
        font-size: 1.2em;
    }
    
    .product_p{
        font-size: 0.85rem;
        margin: 0.5rem;
    }

    .price{
        border-radius: 5em;
        gap: 1.1em;
        padding: 0.8em;
    }

    .price i{
        font-size: 2em;
    }

    .price_crossed{
        text-decoration:line-through;
        font-size:1.2em;
    }

    .price_new{
        font-size: 1.7em;
        margin: 0.4em;
    }

    footer{
        padding: 6rem 0 1.5rem 0;
        display: flex;
        justify-content: center; 
    }

    .container_footer{
        justify-content: space-between;
        gap: 10rem;
    }
    .copy_r{
        font-size: 0.6em;
        font-weight: bold;
    }
}
