@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kufam", sans-serif;
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container-l {
    width: 100%;
}

.container-m {
    width: 90%;
    margin: 0 auto;
}

.col-m {
    width: 100%;
}

/******************************************** HEADER ******************************************/

.header-container {
    background-color: #fae5d1;
}

.logo{
    width: 100px;
    padding: 5px;
    border-radius: 10px;
}

.center {
    justify-content: center;
}

header nav ul li a {
    background-color: #1E1E1E;
    display: block;
    color: #fae5d1;
    text-align: center;
    padding: 15px;
}

/******************************* SECTION *******************************/

.content {
    margin-top: 100px;
    margin-bottom: 20px;
    background-color: #fae5d1;
    border: 2px dashed #AC7961;
    border-radius: 15px;
    padding: 10px;
}

.content img {
    border-radius: 15px;
    margin-bottom: 10px;
}

.content-tittle-container {
    display: flex;
    margin-bottom: 20px;
}

.content-tittle-container p:first-child {
    margin-left: 40px;
}

.content-tittle-container p:last-child {
    margin-left: 10px;
}

.content-info, .rating {
    padding: 5px 5px 5px 15px;
}

.rating {
    margin-top: 5px;
    margin-bottom: 15px;
}

.rating i {
    color: #AC7961;
    font-size: 20px;
}

.price-container {
    display: flex;
    align-items: center;
    padding: 10px 10px 5px 10px;
    border-radius: 30px;
    background-color: #1E1E1E;
    width: 70%;
    margin: auto;
    color: white;
    margin-bottom: 5px;
}

.price-container p{
    margin-top: 10px;
    margin-left: 10px;
}

.price-container i {
    font-size: 20px;
    margin-left: 10px;
}

.old-price {
    text-decoration: line-through;
    margin-top: 10px;
    font-size: 12px;
}

.price {
    font-size: 17px;
    margin-top: 10px;
}

.price-container p:last-child{
    font-size: 12px;
    margin-top: 10px;
}

#oils {
    margin-bottom: 80px;
}

/************************************************ FOOTER **********************************************/

footer {
    background-color: #AC7961;
    position: relative;
    width: 100%;
}

.footer-content {
    padding-top: 80px;
    padding-left: 80px;
    color: white;
}

.logo-footer {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.footer-content nav ul li  {
    list-style-type: circle;
    margin-left: 20px;
    margin-top: 10px;
    text-decoration: underline;
}

.social-icon-container {
    padding-top: 80px;
}

.social-icon-container p {
    padding-left: 70px;
}

.social-icon {
    margin-top: 15px;
    font-size: 20px;
}

.social-icon i {
    margin-left: 25px;
}

.copyright-text {
    color: white;
    margin-top: 90px;
    margin-bottom: 90px;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 768px){

    .container-l {
        width: 95%;
        margin: 0 auto;
    }
    
    .container-m {
        width: 70%;
        margin: auto;
    }

    .col-m {
        width: 30%;
    }

    /******************************************** HEADER ******************************************/

    .flex-space-between {
        display: flex;
        justify-content: space-between;
    }

    nav ul li a {
        display: inline-block;
        border-radius: 0 0 5px 5px;
    }


    /******************************** FOOTER ********************************/

    .social-icon-container {
        padding-top: 0px;
        text-align: center;
    }

    .copyright-text {
        text-align: end;
        margin-bottom: 20px;
        margin-right: 100px;
    }

}